body {
    margin: 0 auto;
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    background: #fdfbf5;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    margin-top: 20px;

    h1 {
        font-family: "Oxanium", system-ui;
        font-size: 3rem;
    }

    h2 {
        font-family: "Inter Tight", system-ui;
        font-size: 1rem;
    }
}

#article-search-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
    padding: 20px 25px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    border: 1px solid black;

    #article-search-form__input {
        order: 1;
        flex: 1;
        background-color: white;
        border-radius: 5px;
        padding: 3px;
        border: 1px solid black;
    }

    #article-search-form__select{
        order: 2;
        background-color: white;
        border-radius: 5px;
        padding: 3px;
        border: 1px solid black;
        padding-right: 10px;
    }

    #article-search-form__button-reset {
        order: 3;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 3px;
        color: rgb(0, 0, 0);
        border: 1px solid black;
    }
}

.article-counter {
 
    span {
        color: var(--gray-base);
    }
}

.article-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.article-card {
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid rgb(122, 169, 223);
    height: 325px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease;
    background-color: white;
}

.article-card__image {
    position: relative;
    height: 65%;
    overflow: hidden;
    
    img {
        object-fit:cover;
        aspect-ratio: 16/9;
        object-position: center;
        height: 100%;
        width: 100%;
        scale: 1;
        transition: scale 0.3s ease;
    }

    .article-card__tag {
        position: absolute;
        top: 10px;
        right: 15px;
        padding: 5px 10px;
        background-color: red;
        color: white;
        border-radius: 15px;
    }
}

.article-card__info {
    height: 60%;
    padding: 0px 20px;

    .article-card__title {
        display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: "Cal Sans", system-ui;
    }
    }

    .article-card__text {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.article-card:hover {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.15);

    .article-card__image {
        img {
            scale: 1.1;
        }
    }
}

@media (max-width: 840px) {
    .article-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 660px) {
    .article-list {
        grid-template-columns: repeat(1, 1fr);
    }
}